In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from datetime import timedelta
%matplotlib inline

In [2]:
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.width', 100000)

In [ ]:
# Create names for the created dataframes of engineer features
# EXCLUDE KLSI as there seeem to be something wrong with the datetime format which cant be solved
datasets_original = ['./data/^GSPC.csv', './data/^DJI.csv', './data/^NDX.csv', \
                          './data/^N225.csv','./data/^STI.csv','./data/^HSI.csv',\
                          './data/^BSESN.csv','./data/^SSEC.csv',\
                          './data/^UKX.csv','./data/^JKSE.csv']

dataset_names_test = ['S&P 500', 'Dow Jones', 'Nasdaq', 'Nikkei','STI','Hang Seng',\
                     'Bombay', 'ShangHai','FTSE100','Jakarta']

feature_engineer_names  = ['./feature_engineer/' + name + '_feature_engineered.csv' for name in dataset_names_test]

feature_engineer_names

In [ ]:
# Create name_list for df_c to allow us to call the dataframe below:

dataset_names_test = ['S&P 500', 'Dow Jones', 'Nasdaq', 'Nikkei','STI','Hang Seng',\
                     'Bombay', 'ShangHai','FTSE100','Jakarta']

crash_names  = ['./crash_threshold/' + name + '_crash.csv' for name in dataset_names_test]

crash_names

In [ ]:
feature_engineer = pd.read_csv('./feature_engineer/S&P 500_feature_engineered.csv')

In [ ]:
feature_engineer.head()

In [3]:
# Create names for the created dataframes of engineer features
# EXCLUDE KLSI as there seeem to be something wrong with the datetime format which cant be solved
datasets_original = ['./data/^DJI.csv', './data/^NDX.csv', \
                          './data/^N225.csv','./data/^STI.csv','./data/^HSI.csv',\
                          './data/^BSESN.csv','./data/^SSEC.csv',\
                          './data/^UKX.csv','./data/^JKSE.csv']

dataset_names_test = ['Dow Jones', 'Nasdaq', 'Nikkei','STI','Hang Seng',\
                     'Bombay', 'ShangHai','FTSE100','Jakarta']

feature_engineer_names  = ['./feature_engineer/' + name + '_feature_engineered.csv' for name in dataset_names_test]

feature_engineer_names

['./feature_engineer/Dow Jones_feature_engineered.csv',
 './feature_engineer/Nasdaq_feature_engineered.csv',
 './feature_engineer/Nikkei_feature_engineered.csv',
 './feature_engineer/STI_feature_engineered.csv',
 './feature_engineer/Hang Seng_feature_engineered.csv',
 './feature_engineer/Bombay_feature_engineered.csv',
 './feature_engineer/ShangHai_feature_engineered.csv',
 './feature_engineer/FTSE100_feature_engineered.csv',
 './feature_engineer/Jakarta_feature_engineered.csv']

In [4]:
# Create name_list for df_c to allow us to call the dataframe below:

dataset_names_test = ['Dow Jones', 'Nasdaq', 'Nikkei','STI','Hang Seng',\
                     'Bombay', 'ShangHai','FTSE100','Jakarta']

crash_names  = ['./crash_threshold/' + name + '_crash.csv' for name in dataset_names_test]

crash_names

['./crash_threshold/Dow Jones_crash.csv',
 './crash_threshold/Nasdaq_crash.csv',
 './crash_threshold/Nikkei_crash.csv',
 './crash_threshold/STI_crash.csv',
 './crash_threshold/Hang Seng_crash.csv',
 './crash_threshold/Bombay_crash.csv',
 './crash_threshold/ShangHai_crash.csv',
 './crash_threshold/FTSE100_crash.csv',
 './crash_threshold/Jakarta_crash.csv']

In [9]:
for d in feature_engineer_names:
    df = pd.read_csv(d, index_col = 'Date')
    df.index = pd.to_datetime(df.index, format='%Y/%m/%d')   
    df['%change'] = df['%change'] / abs(df['%change']).mean()
    df['volatility'] = df['volatility'] / abs(df['volatility']).mean()
    xy = {}
    for date in df.index[252:-126]: # <--subtract 126 days in the end
        xy[date] = list([df['%change'][(date-timedelta(5)):date].mean()])
        xy[date].append(df['%change'][(date-timedelta(10)):(date-timedelta(5))].mean())
        xy[date].append(df['%change'][(date-timedelta(15)):(date-timedelta(10))].mean())
        xy[date].append(df['%change'][(date-timedelta(21)):(date-timedelta(15))].mean())
        xy[date].append(df['%change'][(date-timedelta(42)):(date-timedelta(21))].mean())
        xy[date].append(df['%change'][(date-timedelta(63)):(date-timedelta(42))].mean())
        xy[date].append(df['%change'][(date-timedelta(126)):(date-timedelta(63))].mean())
        xy[date].append(df['%change'][(date-timedelta(252)):(date-timedelta(126))].mean())
        xy[date].append(df['volatility'][(date-timedelta(5)):date].mean())
        xy[date].append(df['volatility'][(date-timedelta(10)):(date-timedelta(5))].mean())
        xy[date].append(df['volatility'][(date-timedelta(15)):(date-timedelta(10))].mean())
        xy[date].append(df['volatility'][(date-timedelta(21)):(date-timedelta(15))].mean())
        xy[date].append(df['volatility'][(date-timedelta(42)):(date-timedelta(21))].mean())
        xy[date].append(df['volatility'][(date-timedelta(63)):(date-timedelta(42))].mean())
        xy[date].append(df['volatility'][(date-timedelta(126)):(date-timedelta(63))].mean())
        xy[date].append(df['volatility'][(date-timedelta(252)):(date-timedelta(126))].mean())
        
    df_xy = pd.DataFrame.from_dict(xy, orient='index').dropna()
    df_xy.to_csv('./{}1.csv'.format(d))
#     #df_xy.to_csv('./{}.csv'.format(d))
#     #df_x = df_xy.iloc[:, :-len(months)]
#     #df_y = df_xy.iloc[:, -len(months):]
#     #dfs_x.append(df_x)
#     #dfs_y.append(df_y)
# #return dfs_x, dfs_y

# for d in crash_names:
#     crash = pd.read_csv(d, index_col = 'Date')
#     crash.index = pd.to_datetime(crash.index, format='%Y/%m/%d')   

#     month_1 = {}
#     month_2 = {}
#     month_4 = {}
#     month_6 = {}
    
#     for e in feature_engineer_names:
#         names = pd.read_csv(e, index_col = 'Date')
#         names.index = pd.to_datetime(names.index, format='%Y/%m/%d')   

#         for date in names['Date'][252:-126]: 
#             month_1[date] = [] #create a list for each date in the dict iterate through each date
#             month_2[date] = []
#             month_4[date] = []
#             month_6[date] = []
#             date1 = datetime.strptime(date,'%Y-%m-%d')
#             for st, end in zip(crash['crash_st'], crash['crash_end']):
#                 st = datetime.strptime(st[0:10],'%Y-%m-%d')
#                 end = datetime.strptime(end[0:10],'%Y-%m-%d')
#                 if st<=date1+timedelta(1*21)<=end: #timedelta() is the number of days
#                     month_1[date].append(1)
#                 if st<=date1+timedelta(2*21)<=end: #timedelta() is the number of days
#                     month_2[date].append(1)
#                 if st<=date1+timedelta(4*21)<=end: #timedelta() is the number of days
#                     month_4[date].append(1)
#                 if st<=date1+timedelta(6*21)<=end: #timedelta() is the number of days
#                     month_6[date].append(1)


#         df_month_1 = pd.DataFrame.from_dict(month_1, orient='index')
#         df_month_2 = pd.DataFrame.from_dict(month_2, orient='index')
#         df_month_4 = pd.DataFrame.from_dict(month_4, orient='index')
#         df_month_6 = pd.DataFrame.from_dict(month_6, orient='index')
#         total_loss = pd.concat([df_month_1,df_month_2,df_month_4,df_month_6],axis=1)

#         model_data = pd.concat([df_xy,total_loss],axis=1)
#         model_data.to_csv('./{}1.csv'.format(d))

In [20]:
for d in crash_names:
    crash = pd.read_csv(d)
    crash.index = pd.to_datetime(crash.index, format='%Y/%m/%d')   

    month_1 = {}
    month_2 = {}
    month_4 = {}
    month_6 = {}
    
    for e in feature_engineer_names:
        names = pd.read_csv(e)#, index_col = 'Date')
        #names.index = pd.to_datetime(names.index, format='%Y/%m/%d')   

        for date in names['Date'][252:-126]: 
            month_1[date] = [] #create a list for each date in the dict iterate through each date
            month_2[date] = []
            month_4[date] = []
            month_6[date] = []
            date1 = datetime.strptime(date,'%Y-%m-%d')
            for st, end in zip(crash['crash_st'], crash['crash_end']):
                st = datetime.strptime(st[0:10],'%Y-%m-%d')
                end = datetime.strptime(end[0:10],'%Y-%m-%d')
                if st<=date1+timedelta(1*21)<=end: #timedelta() is the number of days
                    month_1[date].append(1)
                if st<=date1+timedelta(2*21)<=end: #timedelta() is the number of days
                    month_2[date].append(1)
                if st<=date1+timedelta(4*21)<=end: #timedelta() is the number of days
                    month_4[date].append(1)
                if st<=date1+timedelta(6*21)<=end: #timedelta() is the number of days
                    month_6[date].append(1)


        df_month_1 = pd.DataFrame.from_dict(month_1, orient='index')
        df_month_2 = pd.DataFrame.from_dict(month_2, orient='index')
        df_month_4 = pd.DataFrame.from_dict(month_4, orient='index')
        df_month_6 = pd.DataFrame.from_dict(month_6, orient='index')
        total_loss = pd.concat([df_month_1,df_month_2,df_month_4,df_month_6],axis=1)

        total_loss.to_csv('./{}2.csv'.format(d))

KeyboardInterrupt:

In [16]:
crash = pd.read_csv('./crash_threshold/Dow Jones_crash.csv')

In [17]:
crash

          Date  drawdown             crash_st            crash_end  rank
0   1986/09/04 -0.083862  1986-09-04 00:00:00  1986-09-12 00:00:00    15
1   1987/10/13 -0.306767  1987-10-13 00:00:00  1987-10-19 00:00:00     1
2   1987/10/23 -0.080394  1987-10-23 00:00:00  1987-10-26 00:00:00    17
3   1987/11/24 -0.066197  1987-11-24 00:00:00  1987-11-30 00:00:00    31
4   1988/01/07 -0.068512  1988-01-07 00:00:00  1988-01-08 00:00:00    28
5   1989/10/09 -0.079583  1989-10-09 00:00:00  1989-10-13 00:00:00    18
6   1990/07/30 -0.070849  1990-07-30 00:00:00  1990-08-07 00:00:00    23
7   1990/08/20 -0.065132  1990-08-20 00:00:00  1990-08-23 00:00:00    32
8   1990/10/08 -0.062866  1990-10-08 00:00:00  1990-10-11 00:00:00    36
9   1990/12/31 -0.062028  1990-12-31 00:00:00  1991-01-09 00:00:00    38
10  1994/03/23 -0.062725  1994-03-23 00:00:00  1994-03-30 00:00:00    37
11  1997/10/21 -0.111558  1997-10-21 00:00:00  1997-10-27 00:00:00     5
12  1998/07/30 -0.059781  1998-07-30 00:00:00  1998-08-04 00:00:00    41
13  1998/08/25 -0.123634  1998-08-25 00:00:00  1998-08-31 00:00:00     4
14  2000/01/14 -0.060975  2000-01-14 00:00:00  2000-01-24 00:00:00    39
15  2000/04/11 -0.086941  2000-04-11 00:00:00  2000-04-14 00:00:00    12
16  2000/10/04 -0.069535  2000-10-04 00:00:00  2000-10-12 00:00:00    26
17  2001/03/08 -0.059862  2001-03-08 00:00:00  2001-03-12 00:00:00    40
18  2001/09/05 -0.179150  2001-09-05 00:00:00  2001-09-21 00:00:00     3
19  2002/07/05 -0.096635  2002-07-05 00:00:00  2002-07-16 00:00:00     9
20  2002/07/17 -0.098349  2002-07-17 00:00:00  2002-07-23 00:00:00     8
21  2002/07/31 -0.079317  2002-07-31 00:00:00  2002-08-05 00:00:00    20
22  2002/08/26 -0.068501  2002-08-26 00:00:00  2002-09-03 00:00:00    29
23  2002/10/01 -0.064991  2002-10-01 00:00:00  2002-10-07 00:00:00    33
24  2007/08/08 -0.059459  2007-08-08 00:00:00  2007-08-16 00:00:00    42
25  2008/01/14 -0.063152  2008-01-14 00:00:00  2008-01-22 00:00:00    35
26  2008/09/26 -0.069790  2008-09-26 00:00:00  2008-09-29 00:00:00    25
27  2008/09/30 -0.221136  2008-09-30 00:00:00  2008-10-10 00:00:00     2
28  2008/10/13 -0.086252  2008-10-13 00:00:00  2008-10-15 00:00:00    13
29  2008/10/20 -0.080538  2008-10-20 00:00:00  2008-10-22 00:00:00    16
30  2008/11/04 -0.096568  2008-11-04 00:00:00  2008-11-06 00:00:00    10
31  2008/11/07 -0.073923  2008-11-07 00:00:00  2008-11-12 00:00:00    22
32  2008/11/13 -0.063571  2008-11-13 00:00:00  2008-11-17 00:00:00    34
33  2008/11/18 -0.103559  2008-11-18 00:00:00  2008-11-20 00:00:00     7
34  2008/11/28 -0.077013  2008-11-28 00:00:00  2008-12-01 00:00:00    21
35  2009/01/06 -0.090399  2009-01-06 00:00:00  2009-01-14 00:00:00    11
36  2009/02/24 -0.085012  2009-02-24 00:00:00  2009-03-03 00:00:00    14
37  2010/05/03 -0.069173  2010-05-03 00:00:00  2010-05-07 00:00:00    27
38  2010/06/23 -0.059423  2010-06-23 00:00:00  2010-07-02 00:00:00    43
39  2011/07/21 -0.067413  2011-07-21 00:00:00  2011-08-02 00:00:00    30
40  2015/08/17 -0.107080  2015-08-17 00:00:00  2015-08-25 00:00:00     6
41  2018/02/01 -0.070301  2018-02-01 00:00:00  2018-02-05 00:00:00    24
42  2018/12/18 -0.079552  2018-12-18 00:00:00  2018-12-24 00:00:00    19