In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from datetime import timedelta
%matplotlib inline

In [3]:
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.width', 100000)

In [ ]:
# Create names for the created dataframes of engineer features
# EXCLUDE KLSI as there seeem to be something wrong with the datetime format which cant be solved
datasets_original = ['./data/^GSPC.csv', './data/^DJI.csv', './data/^NDX.csv', \
                          './data/^N225.csv','./data/^STI.csv','./data/^HSI.csv',\
                          './data/^BSESN.csv','./data/^SSEC.csv',\
                          './data/^UKX.csv','./data/^JKSE.csv']

dataset_names_test = ['S&P 500', 'Dow Jones', 'Nasdaq', 'Nikkei','STI','Hang Seng',\
                     'Bombay', 'ShangHai','FTSE100','Jakarta']

feature_engineer_names  = ['./feature_engineer/' + name + '_feature_engineered.csv' for name in dataset_names_test]

feature_engineer_names

In [ ]:
# Create name_list for df_c to allow us to call the dataframe below:

dataset_names_test = ['S&P 500', 'Dow Jones', 'Nasdaq', 'Nikkei','STI','Hang Seng',\
                     'Bombay', 'ShangHai','FTSE100','Jakarta']

crash_names  = ['./crash_threshold/' + name + '_crash.csv' for name in dataset_names_test]

crash_names

In [ ]:
feature_engineer = pd.read_csv('./feature_engineer/S&P 500_feature_engineered.csv')

In [ ]:
feature_engineer.head()

In [7]:
# Create names for the created dataframes of engineer features
# EXCLUDE KLSI as there seeem to be something wrong with the datetime format which cant be solved
datasets_original = ['./data/^GSPC.csv','./data/^DJI.csv', './data/^NDX.csv', \
                          './data/^N225.csv','./data/^STI.csv','./data/^HSI.csv',\
                          './data/^BSESN.csv','./data/^SSEC.csv',\
                          './data/^UKX.csv','./data/^JKSE.csv']

dataset_names_test = ['S&P 500','Dow Jones', 'Nasdaq', 'Nikkei','STI','Hang Seng',\
                     'Bombay', 'ShangHai','FTSE100','Jakarta']

feature_engineer_names  = ['./feature_engineer/' + name + '_feature_engineered.csv' for name in dataset_names_test]

feature_engineer_names

['./feature_engineer/S&P 500_feature_engineered.csv',
 './feature_engineer/Dow Jones_feature_engineered.csv',
 './feature_engineer/Nasdaq_feature_engineered.csv',
 './feature_engineer/Nikkei_feature_engineered.csv',
 './feature_engineer/STI_feature_engineered.csv',
 './feature_engineer/Hang Seng_feature_engineered.csv',
 './feature_engineer/Bombay_feature_engineered.csv',
 './feature_engineer/ShangHai_feature_engineered.csv',
 './feature_engineer/FTSE100_feature_engineered.csv',
 './feature_engineer/Jakarta_feature_engineered.csv']

In [8]:
# Create name_list for df_c to allow us to call the dataframe below:

dataset_names_test = ['S&P 500','Dow Jones', 'Nasdaq', 'Nikkei','STI','Hang Seng',\
                     'Bombay', 'ShangHai','FTSE100','Jakarta']

crash_names  = ['./crash_threshold/' + name + '_crash.csv' for name in dataset_names_test]

crash_names

['./crash_threshold/S&P 500_crash.csv',
 './crash_threshold/Dow Jones_crash.csv',
 './crash_threshold/Nasdaq_crash.csv',
 './crash_threshold/Nikkei_crash.csv',
 './crash_threshold/STI_crash.csv',
 './crash_threshold/Hang Seng_crash.csv',
 './crash_threshold/Bombay_crash.csv',
 './crash_threshold/ShangHai_crash.csv',
 './crash_threshold/FTSE100_crash.csv',
 './crash_threshold/Jakarta_crash.csv']

In [43]:
for d in feature_engineer_names:
    df = pd.read_csv('./feature_engineer/Nasdaq_feature_engineered.csv', index_col = 'Date')
    df.index = pd.to_datetime(df.index, format='%Y/%m/%d')   
    df['%change'] = df['%change'] / abs(df['%change']).mean()
    df['volatility'] = df['volatility'] / abs(df['volatility']).mean()
    xy = {}
    for date in df.index[252:-126]: # <--subtract 126 days in the end
        xy[date] = list([df['%change'][(date-timedelta(5)):date].mean()])
        xy[date].append(df['%change'][(date-timedelta(10)):(date-timedelta(5))].mean())
        xy[date].append(df['%change'][(date-timedelta(15)):(date-timedelta(10))].mean())
        xy[date].append(df['%change'][(date-timedelta(21)):(date-timedelta(15))].mean())
        xy[date].append(df['%change'][(date-timedelta(42)):(date-timedelta(21))].mean())
        xy[date].append(df['%change'][(date-timedelta(63)):(date-timedelta(42))].mean())
        xy[date].append(df['%change'][(date-timedelta(126)):(date-timedelta(63))].mean())
        xy[date].append(df['%change'][(date-timedelta(252)):(date-timedelta(126))].mean())
        xy[date].append(df['volatility'][(date-timedelta(5)):date].mean())
        xy[date].append(df['volatility'][(date-timedelta(10)):(date-timedelta(5))].mean())
        xy[date].append(df['volatility'][(date-timedelta(15)):(date-timedelta(10))].mean())
        xy[date].append(df['volatility'][(date-timedelta(21)):(date-timedelta(15))].mean())
        xy[date].append(df['volatility'][(date-timedelta(42)):(date-timedelta(21))].mean())
        xy[date].append(df['volatility'][(date-timedelta(63)):(date-timedelta(42))].mean())
        xy[date].append(df['volatility'][(date-timedelta(126)):(date-timedelta(63))].mean())
        xy[date].append(df['volatility'][(date-timedelta(252)):(date-timedelta(126))].mean())

    df_xy = pd.DataFrame.from_dict(xy, orient='index').dropna()
    

month_1 = {}
month_2 = {}
month_4 = {}
month_6 = {}

feature_engineer = pd.read_csv('./feature_engineer/Nasdaq_feature_engineered.csv')


e = pd.read_csv('./crash_threshold/Nasdaq_crash.csv')

for date in feature_engineer['Date'][252:-126]: 
    month_1[date] = [] #create a list for each date in the dict iterate through each date
    month_2[date] = []
    month_4[date] = []
    month_6[date] = []
    date1 = datetime.strptime(date,'%Y-%m-%d')
    for st, end in zip(e['crash_st'], e['crash_end']):
        st = datetime.strptime(st[0:10],'%Y-%m-%d')
        end = datetime.strptime(end[0:10],'%Y-%m-%d')
        if st<=date1+timedelta(1*21)<=end: #timedelta() is the number of days
            month_1[date].append(1)
        if st<=date1+timedelta(2*21)<=end: #timedelta() is the number of days
            month_2[date].append(1)
        if st<=date1+timedelta(4*21)<=end: #timedelta() is the number of days
            month_4[date].append(1)
        if st<=date1+timedelta(6*21)<=end: #timedelta() is the number of days
            month_6[date].append(1)


df_month_1 = pd.DataFrame.from_dict(month_1, orient='index')
df_month_2 = pd.DataFrame.from_dict(month_2, orient='index')
df_month_4 = pd.DataFrame.from_dict(month_4, orient='index')
df_month_6 = pd.DataFrame.from_dict(month_6, orient='index')
total_loss = pd.concat([df_xy,df_month_1,df_month_2,df_month_4,df_month_6],axis=1)
total_loss.to_csv('./NasDaq_modelling_data.csv')

dff = pd.read_csv('./NasDaq_modelling_data.csv',index_col = 'Unnamed: 0')
dff.index = pd.to_datetime(dff.index, format='%Y/%m/%d')   

dff = dff.rename(columns={'0':'%C-5','1':'%C-10','2':'%C-15','3':'%C-20','4':'%C-40','5':'%C-63','6':'%C-126','7':'%C-252',\
                          '8':'V-5','9':'V-10','10':'V-15','11':'V-20','12':'V-40','13':'V-63','14':'V-126','15':'V-252',\
                          '0.1':'1_month','0.2':'2_month','0.3':'4_month','0.4':'6_month'})

dff.to_csv('./NasDaq_FINAL_MODELLING.csv') #save again with rename. Not sure why cannot work above BEFORE saving for the first time

In [33]:
dff = pd.read_csv('./SNP_modelling_data.csv',index_col = 'Unnamed: 0')
dff.index = pd.to_datetime(dff.index, format='%Y/%m/%d')   
dff.head()

                   0         1         2         3         4         5         6         7         8         9        10        11        12        13        14        15  0.1  0.2  0.3  0.4
1963-01-16 -0.021163  0.328808  0.799549  0.274763  0.061327  0.473675  0.094699 -0.154771  0.322841  0.343279  0.354363  0.245459  0.359105  0.411642  0.493623  0.484781  NaN  NaN  NaN  NaN
1963-01-17  0.160182  0.328808  0.593952 -0.191453  0.086368  0.443217  0.070517 -0.135479  0.306549  0.343279  0.350887  0.263085  0.355242  0.386048  0.500806  0.482150  NaN  NaN  NaN  NaN
1963-01-18  0.150649  0.416720  1.186288  0.462851  0.006460  0.494258  0.088584 -0.112206  0.295605  0.343984  0.350317  0.290498  0.351490  0.354324  0.504155  0.479234  NaN  NaN  NaN  NaN
1963-01-21  0.097354 -0.021163  0.328808  0.681132  0.008002  0.340903  0.059636 -0.082731  0.255690  0.322841  0.343279  0.323934  0.355630  0.343552  0.507896  0.477054  NaN  NaN  NaN  NaN
1963-01-22  0.434756  0.160182  0.328808  0.593952  0.139718  0.403966  0.083428 -0.096102  0.260694  0.306549  0.343279  0.350887  0.359386  0.338232  0.511376  0.473586  NaN  NaN  NaN  NaN

In [36]:
dff = dff.rename(columns={'0':'%C-5','1':'%C-10','2':'%C-15','3':'%C-20','4':'%C-40','5':'%C-63','6':'%C-126','7':'%C-252',\
                          '8':'V-5','9':'V-10','10':'V-15','11':'V-20','12':'V-40','13':'V-63','14':'V-126','15':'V-252',\
                          '0.1':'1_month','0.2':'2_month','0.3':'4_month','0.4':'6_month'})

dff.to_csv('./SNP500_FINAL_MODELLING.csv')

In [1]:
# Create names for the created dataframes of engineer features
# EXCLUDE KLSI as there seeem to be something wrong with the datetime format which cant be solved
datasets_original = ['./data/^GSPC.csv', './data/^DJI.csv', './data/^NDX.csv', \
                          './data/^N225.csv','./data/^STI.csv','./data/^HSI.csv',\
                          './data/^BSESN.csv','./data/^SSEC.csv',\
                          './data/^UKX.csv','./data/^JKSE.csv']

dataset_names_test = ['S&P 500', 'Dow Jones', 'Nasdaq', 'Nikkei','STI','Hang Seng',\
                     'Bombay', 'ShangHai','FTSE100','Jakarta']

feature_engineer_names  = ['./feature_engineer/' + name + '_feature_engineered.csv' for name in dataset_names_test]

feature_engineer_names

['./feature_engineer/S&P 500_feature_engineered.csv',
 './feature_engineer/Dow Jones_feature_engineered.csv',
 './feature_engineer/Nasdaq_feature_engineered.csv',
 './feature_engineer/Nikkei_feature_engineered.csv',
 './feature_engineer/STI_feature_engineered.csv',
 './feature_engineer/Hang Seng_feature_engineered.csv',
 './feature_engineer/Bombay_feature_engineered.csv',
 './feature_engineer/ShangHai_feature_engineered.csv',
 './feature_engineer/FTSE100_feature_engineered.csv',
 './feature_engineer/Jakarta_feature_engineered.csv']

In [5]:
# WORKING CODE FOR MULTIPLE MONTHS
# Something wrong with looping, key in feature engineer and crash names manually one by one!

feature_engineer = pd.read_csv('./feature_engineer/S&P 500_feature_engineered.csv')
crash = pd.read_csv('./crash_threshold/S&P 500_crash.csv')

month_1 = {}
month_2 = {}
month_4 = {}
month_6 = {}

for date in feature_engineer['Date'][252:-126]: 
    month_1[date] = [] #create a list for each date in the dict iterate through each date
    month_2[date] = []
    month_4[date] = []
    month_6[date] = []
    date1 = datetime.strptime(date,'%Y-%m-%d')
    for st, end in zip(crash['crash_st'], crash['crash_end']):
        st = datetime.strptime(st[0:10],'%Y-%m-%d')
        end = datetime.strptime(end[0:10],'%Y-%m-%d')
        if st<=date1+timedelta(1*21)<=end: #timedelta() is the number of days
            month_1[date].append(1)
        if st<=date1+timedelta(2*21)<=end: #timedelta() is the number of days
            month_2[date].append(1)
        if st<=date1+timedelta(4*21)<=end: #timedelta() is the number of days
            month_4[date].append(1)
        if st<=date1+timedelta(6*21)<=end: #timedelta() is the number of days
            month_6[date].append(1)
        
            
df_month_1 = pd.DataFrame.from_dict(month_1, orient='index')
df_month_2 = pd.DataFrame.from_dict(month_2, orient='index')
df_month_4 = pd.DataFrame.from_dict(month_4, orient='index')
df_month_6 = pd.DataFrame.from_dict(month_6, orient='index')
total_loss = pd.concat([df_month_1,df_month_2,df_month_4,df_month_6],axis=1)
total_loss.to_csv('./SNP_LOSS_TEST.csv')

In [ ]:
# for creating truth values for crash in 1, 2, 4 and 6 months

for d in crash_names:
    crash = pd.read_csv(d, index_col = 'Date')
    crash.index = pd.to_datetime(crash.index, format='%Y/%m/%d')   

    month_1 = {}
    month_2 = {}
    month_4 = {}
    month_6 = {}
    
    for e in feature_engineer_names:
        names = pd.read_csv(e, index_col = 'Date')
        names.index = pd.to_datetime(names.index, format='%Y/%m/%d')   

        for date in names['Date'][252:-126]: 
            month_1[date] = [] #create a list for each date in the dict iterate through each date
            month_2[date] = []
            month_4[date] = []
            month_6[date] = []
            date1 = datetime.strptime(date,'%Y-%m-%d')
            for st, end in zip(crash['crash_st'], crash['crash_end']):
                st = datetime.strptime(st[0:10],'%Y-%m-%d')
                end = datetime.strptime(end[0:10],'%Y-%m-%d')
                if st<=date1+timedelta(1*21)<=end: #timedelta() is the number of days
                    month_1[date].append(1)
                if st<=date1+timedelta(2*21)<=end: #timedelta() is the number of days
                    month_2[date].append(1)
                if st<=date1+timedelta(4*21)<=end: #timedelta() is the number of days
                    month_4[date].append(1)
                if st<=date1+timedelta(6*21)<=end: #timedelta() is the number of days
                    month_6[date].append(1)


        df_month_1 = pd.DataFrame.from_dict(month_1, orient='index')
        df_month_2 = pd.DataFrame.from_dict(month_2, orient='index')
        df_month_4 = pd.DataFrame.from_dict(month_4, orient='index')
        df_month_6 = pd.DataFrame.from_dict(month_6, orient='index')
        total_loss = pd.concat([df_month_1,df_month_2,df_month_4,df_month_6],axis=1)

        total_loss.to_csv('./{}1.csv'.format(d))