In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from datetime import timedelta
%matplotlib inline

In [6]:
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.width', 100000)

In [41]:
dataset_names = ['S&P 500', 'Dow Jones', 'Nasdaq', 'Nikkei','STI','Hang Seng',\
                     'Bombay', 'ShangHai','FTSE100','Jakarta','Kuala Lumpur CI']

crash_names = [a + '_crash.csv' for a in dataset_names]

In [42]:
crash_names

['S&P 500_crash.csv',
 'Dow Jones_crash.csv',
 'Nasdaq_crash.csv',
 'Nikkei_crash.csv',
 'STI_crash.csv',
 'Hang Seng_crash.csv',
 'Bombay_crash.csv',
 'ShangHai_crash.csv',
 'FTSE100_crash.csv',
 'Jakarta_crash.csv',
 'Kuala Lumpur CI_crash.csv']

In [43]:
df = pd.read_csv('S&P 500_crash.csv')
df1 = pd.read_csv('Dow Jones_crash.csv')
df2 = pd.read_csv('Nasdaq_crash.csv')
df3 = pd.read_csv('Nikkei_crash.csv')
df4 = pd.read_csv('STI_crash.csv')
df5 = pd.read_csv('Hang Seng_crash.csv')
df6 = pd.read_csv('Bombay_crash.csv')
df7 = pd.read_csv('ShangHai_crash.csv')
df8 = pd.read_csv('FTSE100_crash.csv')
df9 = pd.read_csv('Jakarta_crash.csv')
df10 = pd.read_csv('Kuala Lumpur CI_crash.csv')

In [44]:
dfs = [df,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]

In [47]:
for c,d in zip(crash_names,dfs):
    d = d.sort_values(ascending=False,by='rank')
    display(c,d)

'S&P 500_crash.csv'

          Date  drawdown             crash_st            crash_end  rank
0   1962/05/03 -0.058320  1962-05-03 00:00:00  1962-05-11 00:00:00    71
19  1980/03/19 -0.058384  1980-03-19 00:00:00  1980-03-27 00:00:00    70
64  2011/08/17 -0.058933  2011-08-17 00:00:00  2011-08-19 00:00:00    69
35  1998/09/29 -0.059703  1998-09-29 00:00:00  1998-10-01 00:00:00    68
21  1982/08/02 -0.060195  1982-08-02 00:00:00  1982-08-12 00:00:00    67
26  1987/11/05 -0.060830  1987-11-05 00:00:00  1987-11-10 00:00:00    66
6   1966/08/12 -0.060839  1966-08-12 00:00:00  1966-08-23 00:00:00    65
40  2001/02/15 -0.060869  2001-02-15 00:00:00  2001-02-23 00:00:00    64
23  1987/04/08 -0.060889  1987-04-08 00:00:00  1987-04-14 00:00:00    63
30  1990/07/31 -0.060986  1990-07-31 00:00:00  1990-08-06 00:00:00    62
68  2018/01/31 -0.061927  2018-01-31 00:00:00  2018-02-05 00:00:00    61
33  1998/07/30 -0.061971  1998-07-30 00:00:00  1998-08-04 00:00:00    60
9   1970/05/18 -0.062370  1970-05-18 00:00:00  1970-05-21 00:00:00    59
38  2000/05/16 -0.062877  2000-05-16 00:00:00  2000-05-23 00:00:00    58
3   1962/06/15 -0.063875  1962-06-15 00:00:00  1962-06-26 00:00:00    57
8   1970/04/20 -0.064779  1970-04-20 00:00:00  1970-04-28 00:00:00    56
53  2008/10/23 -0.065179  2008-10-23 00:00:00  2008-10-27 00:00:00    55
31  1990/08/20 -0.065295  1990-08-20 00:00:00  1990-08-23 00:00:00    54
27  1987/11/24 -0.065303  1987-11-24 00:00:00  1987-11-30 00:00:00    53
7   1969/07/17 -0.065581  1969-07-17 00:00:00  1969-07-29 00:00:00    52
5   1966/04/21 -0.066003  1966-04-21 00:00:00  1966-05-09 00:00:00    51
4   1962/10/15 -0.066003  1962-10-15 00:00:00  1962-10-23 00:00:00    50
36  1999/10/08 -0.066324  1999-10-08 00:00:00  1999-10-15 00:00:00    49
56  2008/11/13 -0.066433  2008-11-13 00:00:00  2008-11-17 00:00:00    48
41  2001/03/08 -0.066875  2001-03-08 00:00:00  2001-03-12 00:00:00    47
69  2018/10/03 -0.067387  2018-10-03 00:00:00  2018-10-11 00:00:00    46
62  2011/07/22 -0.067635  2011-07-22 00:00:00  2011-08-02 00:00:00    45
28  1988/01/07 -0.067683  1988-01-07 00:00:00  1988-01-08 00:00:00    44
43  2002/07/05 -0.069321  2002-07-05 00:00:00  2002-07-10 00:00:00    43
2   1962/06/08 -0.070488  1962-06-08 00:00:00  1962-06-14 00:00:00    42
17  1978/10/11 -0.070595  1978-10-11 00:00:00  1978-10-20 00:00:00    41
65  2011/09/16 -0.071093  2011-09-16 00:00:00  2011-09-22 00:00:00    40
18  1979/10/05 -0.072616  1979-10-05 00:00:00  1979-10-16 00:00:00    39
29  1989/10/09 -0.072679  1989-10-09 00:00:00  1989-10-13 00:00:00    38
46  2002/08/26 -0.073770  2002-08-26 00:00:00  2002-09-03 00:00:00    37
47  2002/10/01 -0.073864  2002-10-01 00:00:00  2002-10-07 00:00:00    36
39  2000/10/05 -0.074150  2000-10-05 00:00:00  2000-10-12 00:00:00    35
10  1974/01/03 -0.074249  1974-01-03 00:00:00  1974-01-10 00:00:00    34
48  2008/01/14 -0.074669  2008-01-14 00:00:00  2008-01-22 00:00:00    33
11  1974/07/24 -0.075303  1974-07-24 00:00:00  1974-08-02 00:00:00    32
61  2010/05/03 -0.076007  2010-05-03 00:00:00  2010-05-07 00:00:00    31
70  2018/12/18 -0.076609  2018-12-18 00:00:00  2018-12-24 00:00:00    30
16  1975/07/15 -0.077607  1975-07-15 00:00:00  1975-07-29 00:00:00    29
66  2011/11/15 -0.078820  2011-11-15 00:00:00  2011-11-25 00:00:00    28
45  2002/07/31 -0.084487  2002-07-31 00:00:00  2002-08-05 00:00:00    27
55  2008/11/07 -0.084523  2008-11-07 00:00:00  2008-11-12 00:00:00    26
13  1974/09/06 -0.087090  1974-09-06 00:00:00  1974-09-13 00:00:00    25
49  2008/09/26 -0.088068  2008-09-26 00:00:00  2008-09-29 00:00:00    24
58  2008/11/28 -0.089295  2008-11-28 00:00:00  2008-12-01 00:00:00    23
52  2008/10/20 -0.089933  2008-10-20 00:00:00  2008-10-22 00:00:00    22
22  1986/09/04 -0.091242  1986-09-04 00:00:00  1986-09-12 00:00:00    21
20  1980/11/28 -0.093652  1980-11-28 00:00:00  1980-12-11 00:00:00    20
51  2008/10/13 -0.095191  2008-10-13 00:00:00  2008-10-15 00:00:00    19
15  1974/11/11 -0.096474  1974-11-11 00:00:00  1974-11-20 00:00:00    18
32  1997/10/21 -0.098007  1997-10-21 00:00:00  1997-10-27 00:00:00    17
60  2009/02/24 -0.099348  2009-02-24 00:00:00  2009-03-03 00:00:00    16
54  2008/11/04 -0.100293  2008-11-04 00:00:00  2008-11-06 00:00:00    15
37  2000/04/07 -0.105378  2000-04-07 00:00:00  2000-04-14 00:00:00    14
59  2009/02/12 -0.109987  2009-02-12 00:00:00  2009-02-23 00:00:00    13
67  2015/08/17 -0.111694  2015-08-17 00:00:00  2015-08-25 00:00:00    12
63  2011/08/03 -0.111779  2011-08-03 00:00:00  2011-08-08 00:00:00    11
14  1974/09/20 -0.112062  1974-09-20 00:00:00  1974-10-03 00:00:00    10
42  2001/09/10 -0.116005  2001-09-10 00:00:00  2001-09-21 00:00:00     9
25  1987/10/21 -0.118856  1987-10-21 00:00:00  1987-10-26 00:00:00     8
44  2002/07/17 -0.119575  2002-07-17 00:00:00  2002-07-23 00:00:00     7
34  1998/08/25 -0.124052  1998-08-25 00:00:00  1998-08-31 00:00:00     6
57  2008/11/18 -0.124174  2008-11-18 00:00:00  2008-11-20 00:00:00     5
1   1962/05/15 -0.136724  1962-05-15 00:00:00  1962-05-28 00:00:00     4
12  1974/08/07 -0.153176  1974-08-07 00:00:00  1974-08-29 00:00:00     3
50  2008/09/30 -0.229037  2008-09-30 00:00:00  2008-10-10 00:00:00     2
24  1987/10/13 -0.285133  1987-10-13 00:00:00  1987-10-19 00:00:00     1

'Dow Jones_crash.csv'

          Date  drawdown             crash_st            crash_end  rank
38  2010/06/23 -0.059423  2010-06-23 00:00:00  2010-07-02 00:00:00    43
24  2007/08/08 -0.059459  2007-08-08 00:00:00  2007-08-16 00:00:00    42
12  1998/07/30 -0.059781  1998-07-30 00:00:00  1998-08-04 00:00:00    41
17  2001/03/08 -0.059862  2001-03-08 00:00:00  2001-03-12 00:00:00    40
14  2000/01/14 -0.060975  2000-01-14 00:00:00  2000-01-24 00:00:00    39
9   1990/12/31 -0.062028  1990-12-31 00:00:00  1991-01-09 00:00:00    38
10  1994/03/23 -0.062725  1994-03-23 00:00:00  1994-03-30 00:00:00    37
8   1990/10/08 -0.062866  1990-10-08 00:00:00  1990-10-11 00:00:00    36
25  2008/01/14 -0.063152  2008-01-14 00:00:00  2008-01-22 00:00:00    35
32  2008/11/13 -0.063571  2008-11-13 00:00:00  2008-11-17 00:00:00    34
23  2002/10/01 -0.064991  2002-10-01 00:00:00  2002-10-07 00:00:00    33
7   1990/08/20 -0.065132  1990-08-20 00:00:00  1990-08-23 00:00:00    32
3   1987/11/24 -0.066197  1987-11-24 00:00:00  1987-11-30 00:00:00    31
39  2011/07/21 -0.067413  2011-07-21 00:00:00  2011-08-02 00:00:00    30
22  2002/08/26 -0.068501  2002-08-26 00:00:00  2002-09-03 00:00:00    29
4   1988/01/07 -0.068512  1988-01-07 00:00:00  1988-01-08 00:00:00    28
37  2010/05/03 -0.069173  2010-05-03 00:00:00  2010-05-07 00:00:00    27
16  2000/10/04 -0.069535  2000-10-04 00:00:00  2000-10-12 00:00:00    26
26  2008/09/26 -0.069790  2008-09-26 00:00:00  2008-09-29 00:00:00    25
41  2018/02/01 -0.070301  2018-02-01 00:00:00  2018-02-05 00:00:00    24
6   1990/07/30 -0.070849  1990-07-30 00:00:00  1990-08-07 00:00:00    23
31  2008/11/07 -0.073923  2008-11-07 00:00:00  2008-11-12 00:00:00    22
34  2008/11/28 -0.077013  2008-11-28 00:00:00  2008-12-01 00:00:00    21
21  2002/07/31 -0.079317  2002-07-31 00:00:00  2002-08-05 00:00:00    20
42  2018/12/18 -0.079552  2018-12-18 00:00:00  2018-12-24 00:00:00    19
5   1989/10/09 -0.079583  1989-10-09 00:00:00  1989-10-13 00:00:00    18
2   1987/10/23 -0.080394  1987-10-23 00:00:00  1987-10-26 00:00:00    17
29  2008/10/20 -0.080538  2008-10-20 00:00:00  2008-10-22 00:00:00    16
0   1986/09/04 -0.083862  1986-09-04 00:00:00  1986-09-12 00:00:00    15
36  2009/02/24 -0.085012  2009-02-24 00:00:00  2009-03-03 00:00:00    14
28  2008/10/13 -0.086252  2008-10-13 00:00:00  2008-10-15 00:00:00    13
15  2000/04/11 -0.086941  2000-04-11 00:00:00  2000-04-14 00:00:00    12
35  2009/01/06 -0.090399  2009-01-06 00:00:00  2009-01-14 00:00:00    11
30  2008/11/04 -0.096568  2008-11-04 00:00:00  2008-11-06 00:00:00    10
19  2002/07/05 -0.096635  2002-07-05 00:00:00  2002-07-16 00:00:00     9
20  2002/07/17 -0.098349  2002-07-17 00:00:00  2002-07-23 00:00:00     8
33  2008/11/18 -0.103559  2008-11-18 00:00:00  2008-11-20 00:00:00     7
40  2015/08/17 -0.107080  2015-08-17 00:00:00  2015-08-25 00:00:00     6
11  1997/10/21 -0.111558  1997-10-21 00:00:00  1997-10-27 00:00:00     5
13  1998/08/25 -0.123634  1998-08-25 00:00:00  1998-08-31 00:00:00     4
18  2001/09/05 -0.179150  2001-09-05 00:00:00  2001-09-21 00:00:00     3
27  2008/09/30 -0.221136  2008-09-30 00:00:00  2008-10-10 00:00:00     2
1   1987/10/13 -0.306767  1987-10-13 00:00:00  1987-10-19 00:00:00     1

'Nasdaq_crash.csv'

          Date  drawdown             crash_st            crash_end  rank
26  2001/04/19 -0.097820  2001-04-19 00:00:00  2001-04-24 00:00:00    42
38  2008/11/04 -0.098977  2008-11-04 00:00:00  2008-11-06 00:00:00    41
30  2002/06/17 -0.099382  2002-06-17 00:00:00  2002-06-21 00:00:00    40
24  2001/03/27 -0.099382  2001-03-27 00:00:00  2001-03-29 00:00:00    39
9   2000/03/10 -0.099659  2000-03-10 00:00:00  2000-03-15 00:00:00    38
14  2000/09/28 -0.099811  2000-09-28 00:00:00  2000-10-03 00:00:00    37
28  2001/06/12 -0.100182  2001-06-12 00:00:00  2001-06-18 00:00:00    36
13  2000/07/25 -0.100399  2000-07-25 00:00:00  2000-07-28 00:00:00    35
15  2000/10/20 -0.100966  2000-10-20 00:00:00  2000-10-25 00:00:00    34
34  2008/08/28 -0.101075  2008-08-28 00:00:00  2008-09-09 00:00:00    33
21  2001/01/03 -0.103042  2001-01-03 00:00:00  2001-01-05 00:00:00    32
39  2008/11/18 -0.103171  2008-11-18 00:00:00  2008-11-20 00:00:00    31
12  2000/05/16 -0.105912  2000-05-16 00:00:00  2000-05-19 00:00:00    30
0   1986/09/04 -0.108689  1986-09-04 00:00:00  1986-09-15 00:00:00    29
33  2007/11/06 -0.108729  2007-11-06 00:00:00  2007-11-12 00:00:00    28
40  2011/08/03 -0.109172  2011-08-03 00:00:00  2011-08-08 00:00:00    27
27  2001/05/24 -0.111996  2001-05-24 00:00:00  2001-05-30 00:00:00    26
35  2008/09/25 -0.113419  2008-09-25 00:00:00  2008-09-29 00:00:00    25
17  2000/11/24 -0.114325  2000-11-24 00:00:00  2000-11-30 00:00:00    24
7   1998/10/02 -0.115603  1998-10-02 00:00:00  1998-10-08 00:00:00    23
8   2000/01/03 -0.118648  2000-01-03 00:00:00  2000-01-06 00:00:00    22
5   1997/10/21 -0.119238  1997-10-21 00:00:00  1997-10-27 00:00:00    21
3   1990/07/25 -0.119380  1990-07-25 00:00:00  1990-08-06 00:00:00    20
11  2000/05/05 -0.120278  2000-05-05 00:00:00  2000-05-10 00:00:00    19
41  2015/08/17 -0.120457  2015-08-17 00:00:00  2015-08-25 00:00:00    18
32  2002/07/30 -0.125750  2002-07-30 00:00:00  2002-08-05 00:00:00    17
31  2002/07/17 -0.128235  2002-07-17 00:00:00  2002-07-23 00:00:00    16
25  2001/03/30 -0.128714  2001-03-30 00:00:00  2001-04-04 00:00:00    15
37  2008/10/13 -0.129629  2008-10-13 00:00:00  2008-10-15 00:00:00    14
19  2000/12/18 -0.130853  2000-12-18 00:00:00  2000-12-20 00:00:00    13
20  2000/12/28 -0.136264  2000-12-28 00:00:00  2001-01-02 00:00:00    12
22  2001/02/15 -0.142815  2001-02-15 00:00:00  2001-02-22 00:00:00    11
18  2000/12/11 -0.144579  2000-12-11 00:00:00  2000-12-15 00:00:00    10
4   1990/08/15 -0.144725  1990-08-15 00:00:00  1990-08-23 00:00:00     9
16  2000/11/03 -0.146088  2000-11-03 00:00:00  2000-11-13 00:00:00     8
23  2001/03/07 -0.158093  2001-03-07 00:00:00  2001-03-12 00:00:00     7
36  2008/09/30 -0.165963  2008-09-30 00:00:00  2008-10-07 00:00:00     6
29  2001/09/10 -0.174631  2001-09-10 00:00:00  2001-09-21 00:00:00     5
6   1998/08/25 -0.178637  1998-08-25 00:00:00  1998-08-31 00:00:00     4
2   1987/10/21 -0.191176  1987-10-21 00:00:00  1987-10-26 00:00:00     3
10  2000/04/07 -0.252490  2000-04-07 00:00:00  2000-04-14 00:00:00     2
1   1987/10/13 -0.284600  1987-10-13 00:00:00  1987-10-20 00:00:00     1

'Nikkei_crash.csv'

          Date  drawdown             crash_st            crash_end  rank
35  2016/03/28 -0.082817  2016-03-28 00:00:00  2016-04-06 00:00:00    38
4   1990/08/31 -0.083395  1990-08-31 00:00:00  1990-09-06 00:00:00    37
36  2016/04/22 -0.083413  2016-04-22 00:00:00  2016-05-06 00:00:00    36
20  2008/03/12 -0.083478  2008-03-12 00:00:00  2008-03-17 00:00:00    35
21  2008/06/18 -0.084062  2008-06-18 00:00:00  2008-07-04 00:00:00    34
11  2000/05/02 -0.084433  2000-05-02 00:00:00  2000-05-11 00:00:00    33
12  2000/05/16 -0.085852  2000-05-16 00:00:00  2000-05-24 00:00:00    32
16  2007/02/26 -0.086361  2007-02-26 00:00:00  2007-03-05 00:00:00    31
0   1990/03/15 -0.086567  1990-03-15 00:00:00  1990-03-22 00:00:00    30
28  2009/01/07 -0.089329  2009-01-07 00:00:00  2009-01-13 00:00:00    29
31  2014/01/29 -0.089408  2014-01-29 00:00:00  2014-02-04 00:00:00    28
10  2000/04/12 -0.089458  2000-04-12 00:00:00  2000-04-18 00:00:00    27
7   1995/01/11 -0.090185  1995-01-11 00:00:00  1995-01-23 00:00:00    26
29  2009/06/30 -0.091190  2009-06-30 00:00:00  2009-07-13 00:00:00    25
26  2008/11/10 -0.092804  2008-11-10 00:00:00  2008-11-13 00:00:00    24
19  2008/01/18 -0.092938  2008-01-18 00:00:00  2008-01-22 00:00:00    23
17  2007/08/14 -0.093260  2007-08-14 00:00:00  2007-08-17 00:00:00    22
33  2015/12/30 -0.095344  2015-12-30 00:00:00  2016-01-12 00:00:00    21
27  2008/11/17 -0.096161  2008-11-17 00:00:00  2008-11-20 00:00:00    20
25  2008/11/05 -0.098542  2008-11-05 00:00:00  2008-11-07 00:00:00    19
14  2002/08/26 -0.098597  2002-08-26 00:00:00  2002-09-04 00:00:00    18
18  2007/11/01 -0.103363  2007-11-01 00:00:00  2007-11-13 00:00:00    17
15  2004/04/26 -0.105163  2004-04-26 00:00:00  2004-05-10 00:00:00    16
9   1997/12/17 -0.105293  1997-12-17 00:00:00  1997-12-22 00:00:00    15
6   1992/04/03 -0.105689  1992-04-03 00:00:00  1992-04-09 00:00:00    14
2   1990/07/31 -0.108990  1990-07-31 00:00:00  1990-08-07 00:00:00    13
37  2018/12/17 -0.109320  2018-12-17 00:00:00  2018-12-25 00:00:00    12
8   1997/01/06 -0.110169  1997-01-06 00:00:00  1997-01-10 00:00:00    11
23  2008/10/15 -0.114064  2008-10-15 00:00:00  2008-10-16 00:00:00    10
13  2000/12/13 -0.115071  2000-12-13 00:00:00  2000-12-21 00:00:00     9
1   1990/03/26 -0.120552  1990-03-26 00:00:00  1990-04-02 00:00:00     8
34  2016/02/08 -0.120657  2016-02-08 00:00:00  2016-02-12 00:00:00     7
32  2015/08/17 -0.136446  2015-08-17 00:00:00  2015-08-25 00:00:00     6
5   1990/09/21 -0.149550  1990-09-21 00:00:00  1990-10-01 00:00:00     5
3   1990/08/15 -0.155609  1990-08-15 00:00:00  1990-08-23 00:00:00     4
30  2011/03/09 -0.187388  2011-03-09 00:00:00  2011-03-15 00:00:00     3
24  2008/10/21 -0.230313  2008-10-21 00:00:00  2008-10-27 00:00:00     2
22  2008/10/01 -0.271970  2008-10-01 00:00:00  2008-10-10 00:00:00     1

'STI_crash.csv'

          Date  drawdown             crash_st            crash_end  rank
22  2007/08/14 -0.075557  2007-08-14 00:00:00  2007-08-17 00:00:00    33
4   1997/10/27 -0.075869  1997-10-27 00:00:00  1997-10-28 00:00:00    32
32  2016/04/21 -0.077675  2016-04-21 00:00:00  2016-05-06 00:00:00    31
9   1998/05/25 -0.081787  1998-05-25 00:00:00  1998-06-02 00:00:00    30
28  2008/11/14 -0.082535  2008-11-14 00:00:00  2008-11-20 00:00:00    29
25  2008/10/02 -0.082620  2008-10-02 00:00:00  2008-10-06 00:00:00    28
29  2009/01/05 -0.084707  2009-01-05 00:00:00  2009-01-13 00:00:00    27
23  2008/01/09 -0.085525  2008-01-09 00:00:00  2008-01-16 00:00:00    26
7   1998/02/11 -0.086165  1998-02-11 00:00:00  1998-02-16 00:00:00    25
16  2000/01/03 -0.086618  2000-01-03 00:00:00  2000-01-06 00:00:00    24
17  2000/04/14 -0.086936  2000-04-14 00:00:00  2000-04-17 00:00:00    23
31  2015/08/14 -0.086974  2015-08-14 00:00:00  2015-08-24 00:00:00    22
24  2008/01/17 -0.087048  2008-01-17 00:00:00  2008-01-22 00:00:00    21
2   1995/01/16 -0.090396  1995-01-16 00:00:00  1995-01-23 00:00:00    20
15  1999/07/20 -0.092586  1999-07-20 00:00:00  1999-07-26 00:00:00    19
11  1998/08/06 -0.093866  1998-08-06 00:00:00  1998-08-13 00:00:00    18
1   1994/03/04 -0.094414  1994-03-04 00:00:00  1994-03-21 00:00:00    17
0   1994/01/10 -0.094663  1994-01-10 00:00:00  1994-01-13 00:00:00    16
14  1999/01/20 -0.097044  1999-01-20 00:00:00  1999-01-25 00:00:00    15
21  2007/02/23 -0.099123  2007-02-23 00:00:00  2007-03-05 00:00:00    14
13  1998/11/04 -0.099143  1998-11-04 00:00:00  1998-11-10 00:00:00    13
5   1997/12/08 -0.109375  1997-12-08 00:00:00  1997-12-16 00:00:00    12
18  2000/05/16 -0.113898  2000-05-16 00:00:00  2000-05-26 00:00:00    11
3   1997/10/17 -0.114698  1997-10-17 00:00:00  1997-10-24 00:00:00    10
26  2008/10/14 -0.117370  2008-10-14 00:00:00  2008-10-17 00:00:00     9
19  2000/09/04 -0.117380  2000-09-04 00:00:00  2000-09-22 00:00:00     8
12  1998/08/26 -0.120862  1998-08-26 00:00:00  1998-09-01 00:00:00     7
10  1998/06/03 -0.124602  1998-06-03 00:00:00  1998-06-10 00:00:00     6
30  2011/08/01 -0.130331  2011-08-01 00:00:00  2011-08-11 00:00:00     5
8   1998/04/29 -0.133366  1998-04-29 00:00:00  1998-05-14 00:00:00     4
20  2001/09/11 -0.154752  2001-09-11 00:00:00  2001-09-18 00:00:00     3
27  2008/10/20 -0.174782  2008-10-20 00:00:00  2008-10-24 00:00:00     2
6   1997/12/31 -0.298274  1997-12-31 00:00:00  1998-01-12 00:00:00     1

'Hang Seng_crash.csv'

          Date  drawdown             crash_st            crash_end  rank
22  2000/10/05 -0.092938  2000-10-05 00:00:00  2000-10-13 00:00:00    37
25  2008/02/04 -0.096515  2008-02-04 00:00:00  2008-02-11 00:00:00    36
11  1997/10/08 -0.098009  1997-10-08 00:00:00  1997-10-15 00:00:00    35
3   1990/08/16 -0.098021  1990-08-16 00:00:00  1990-08-23 00:00:00    34
6   1994/01/04 -0.098319  1994-01-04 00:00:00  1994-01-07 00:00:00    33
26  2008/03/12 -0.099824  2008-03-12 00:00:00  2008-03-17 00:00:00    32
5   1993/03/09 -0.100399  1993-03-09 00:00:00  1993-03-15 00:00:00    31
31  2008/11/10 -0.103311  2008-11-10 00:00:00  2008-11-13 00:00:00    30
34  2011/09/27 -0.103708  2011-09-27 00:00:00  2011-10-04 00:00:00    29
7   1994/01/10 -0.104725  1994-01-10 00:00:00  1994-01-13 00:00:00    28
35  2015/07/02 -0.105233  2015-07-02 00:00:00  2015-07-08 00:00:00    27
9   1994/11/16 -0.105940  1994-11-16 00:00:00  1994-11-23 00:00:00    26
2   1990/08/01 -0.106690  1990-08-01 00:00:00  1990-08-07 00:00:00    25
19  2000/03/28 -0.108364  2000-03-28 00:00:00  2000-04-05 00:00:00    24
17  1998/08/27 -0.108608  1998-08-27 00:00:00  1998-09-01 00:00:00    23
20  2000/04/12 -0.109472  2000-04-12 00:00:00  2000-04-17 00:00:00    22
0   1987/10/30 -0.110501  1987-10-30 00:00:00  1987-11-05 00:00:00    21
15  1997/12/08 -0.111124  1997-12-08 00:00:00  1997-12-11 00:00:00    20
14  1997/11/03 -0.112154  1997-11-03 00:00:00  1997-11-10 00:00:00    19
23  2008/01/09 -0.114608  2008-01-09 00:00:00  2008-01-16 00:00:00    18
36  2015/08/13 -0.115211  2015-08-13 00:00:00  2015-08-24 00:00:00    17
21  2000/09/06 -0.116163  2000-09-06 00:00:00  2000-09-18 00:00:00    16
32  2009/01/05 -0.121777  2009-01-05 00:00:00  2009-01-13 00:00:00    15
18  2000/01/03 -0.127602  2000-01-03 00:00:00  2000-01-06 00:00:00    14
8   1994/03/14 -0.131572  1994-03-14 00:00:00  1994-03-21 00:00:00    13
29  2008/10/14 -0.135370  2008-10-14 00:00:00  2008-10-17 00:00:00    12
1   1987/11/27 -0.136326  1987-11-27 00:00:00  1987-12-07 00:00:00    11
24  2008/01/18 -0.136666  2008-01-18 00:00:00  2008-01-22 00:00:00    10
10  1997/08/25 -0.139318  1997-08-25 00:00:00  1997-09-01 00:00:00     9
33  2011/08/01 -0.147051  2011-08-01 00:00:00  2011-08-09 00:00:00     8
27  2008/09/08 -0.152052  2008-09-08 00:00:00  2008-09-18 00:00:00     7
28  2008/10/02 -0.152620  2008-10-02 00:00:00  2008-10-08 00:00:00     6
4   1992/11/27 -0.168457  1992-11-27 00:00:00  1992-12-03 00:00:00     5
13  1997/10/24 -0.187037  1997-10-24 00:00:00  1997-10-28 00:00:00     4
12  1997/10/17 -0.233417  1997-10-17 00:00:00  1997-10-23 00:00:00     3
16  1997/12/30 -0.244914  1997-12-30 00:00:00  1998-01-12 00:00:00     2
30  2008/10/20 -0.281092  2008-10-20 00:00:00  2008-10-27 00:00:00     1

'Bombay_crash.csv'

          Date  drawdown             crash_st            crash_end  rank
26  2011/11/08 -0.092400  2011-11-08 00:00:00  2011-11-21 00:00:00    27
11  2002/05/13 -0.095408  2002-05-13 00:00:00  2002-05-23 00:00:00    26
19  2008/07/09 -0.099430  2008-07-09 00:00:00  2008-07-16 00:00:00    25
18  2008/06/26 -0.101245  2008-06-26 00:00:00  2008-07-01 00:00:00    24
17  2008/06/17 -0.101314  2008-06-17 00:00:00  2008-06-24 00:00:00    23
5   2000/05/09 -0.102949  2000-05-09 00:00:00  2000-05-12 00:00:00    22
7   2000/09/12 -0.104813  2000-09-12 00:00:00  2000-09-19 00:00:00    21
0   1998/06/17 -0.106914  1998-06-17 00:00:00  1998-06-23 00:00:00    20
2   1998/09/24 -0.107658  1998-09-24 00:00:00  1998-10-05 00:00:00    19
9   2001/04/06 -0.109684  2001-04-06 00:00:00  2001-04-12 00:00:00    18
16  2008/02/05 -0.110118  2008-02-05 00:00:00  2008-02-12 00:00:00    17
14  2006/06/02 -0.110562  2006-06-02 00:00:00  2006-06-08 00:00:00    16
20  2008/09/08 -0.112551  2008-09-08 00:00:00  2008-09-17 00:00:00    15
3   1999/10/25 -0.113220  1999-10-25 00:00:00  1999-11-01 00:00:00    14
1   1998/07/16 -0.115685  1998-07-16 00:00:00  1998-07-27 00:00:00    13
25  2009/01/06 -0.122347  2009-01-06 00:00:00  2009-01-13 00:00:00    12
8   2001/03/08 -0.127261  2001-03-08 00:00:00  2001-03-13 00:00:00    11
22  2008/10/14 -0.131324  2008-10-14 00:00:00  2008-10-17 00:00:00    10
13  2006/05/17 -0.142091  2006-05-17 00:00:00  2006-05-22 00:00:00     9
6   2000/07/12 -0.156305  2000-07-12 00:00:00  2000-07-24 00:00:00     8
12  2004/05/13 -0.165629  2004-05-13 00:00:00  2004-05-17 00:00:00     7
10  2001/09/04 -0.170386  2001-09-04 00:00:00  2001-09-17 00:00:00     6
4   2000/04/11 -0.185957  2000-04-11 00:00:00  2000-04-24 00:00:00     5
21  2008/10/01 -0.193619  2008-10-01 00:00:00  2008-10-10 00:00:00     4
15  2008/01/11 -0.196736  2008-01-11 00:00:00  2008-01-22 00:00:00     3
24  2008/11/10 -0.197904  2008-11-10 00:00:00  2008-11-20 00:00:00     2
23  2008/10/21 -0.203478  2008-10-21 00:00:00  2008-10-27 00:00:00     1

'ShangHai_crash.csv'

          Date  drawdown             crash_st            crash_end  rank
22  2016/01/25 -0.096257  2016-01-25 00:00:00  2016-01-28 00:00:00    24
16  2013/06/18 -0.096920  2013-06-18 00:00:00  2013-06-27 00:00:00    23
14  2008/12/19 -0.097925  2008-12-19 00:00:00  2008-12-31 00:00:00    22
17  2015/06/17 -0.098539  2015-06-17 00:00:00  2015-06-19 00:00:00    21
4   2001/10/12 -0.100901  2001-10-12 00:00:00  2001-10-22 00:00:00    20
15  2009/08/26 -0.101041  2009-08-26 00:00:00  2009-08-31 00:00:00    19
8   2008/02/19 -0.101143  2008-02-19 00:00:00  2008-02-25 00:00:00    18
2   1999/06/29 -0.102586  1999-06-29 00:00:00  1999-07-01 00:00:00    17
11  2008/08/07 -0.106503  2008-08-07 00:00:00  2008-08-14 00:00:00    16
6   2007/05/31 -0.106883  2007-05-31 00:00:00  2007-06-04 00:00:00    15
1   1998/08/13 -0.111088  1998-08-13 00:00:00  1998-08-17 00:00:00    14
20  2015/07/23 -0.111768  2015-07-23 00:00:00  2015-07-28 00:00:00    13
5   2007/01/29 -0.112970  2007-01-29 00:00:00  2007-02-05 00:00:00    12
3   2001/07/20 -0.118968  2001-07-20 00:00:00  2001-07-31 00:00:00    11
9   2008/03/11 -0.119298  2008-03-11 00:00:00  2008-03-18 00:00:00    10
7   2008/01/18 -0.119827  2008-01-18 00:00:00  2008-01-22 00:00:00     9
0   1997/09/19 -0.120349  1997-09-19 00:00:00  1997-09-23 00:00:00     8
13  2008/10/20 -0.126978  2008-10-20 00:00:00  2008-10-27 00:00:00     7
12  2008/09/25 -0.129240  2008-09-25 00:00:00  2008-10-10 00:00:00     6
18  2015/06/24 -0.135842  2015-06-24 00:00:00  2015-06-29 00:00:00     5
19  2015/06/30 -0.138012  2015-06-30 00:00:00  2015-07-03 00:00:00     4
10  2008/06/02 -0.170638  2008-06-02 00:00:00  2008-06-13 00:00:00     3
23  2017/08/25 -0.174011  2017-08-25 00:00:00  2019-02-21 00:00:00     2
21  2015/08/19 -0.228465  2015-08-19 00:00:00  2015-08-26 00:00:00     1

'FTSE100_crash.csv'

          Date  drawdown             crash_st            crash_end  rank
11  1999/07/15 -0.061734  1999-07-15 00:00:00  1999-07-26 00:00:00    44
19  2002/11/28 -0.062216  2002-11-28 00:00:00  2002-12-10 00:00:00    43
16  2002/07/01 -0.062572  2002-07-01 00:00:00  2002-07-03 00:00:00    42
24  2008/03/12 -0.062669  2008-03-12 00:00:00  2008-03-17 00:00:00    41
36  2011/03/08 -0.063020  2011-03-08 00:00:00  2011-03-16 00:00:00    40
22  2007/07/23 -0.063144  2007-07-23 00:00:00  2007-07-30 00:00:00    39
13  2001/03/08 -0.063300  2001-03-08 00:00:00  2001-03-14 00:00:00    38
6   1987/11/24 -0.065479  1987-11-24 00:00:00  1987-12-01 00:00:00    37
2   1987/07/29 -0.065839  1987-07-29 00:00:00  1987-08-07 00:00:00    36
38  2011/09/27 -0.066038  2011-09-27 00:00:00  2011-10-04 00:00:00    35
21  2003/03/03 -0.067495  2003-03-03 00:00:00  2003-03-10 00:00:00    34
25  2008/09/02 -0.067607  2008-09-02 00:00:00  2008-09-05 00:00:00    33
43  2018/01/29 -0.069104  2018-01-29 00:00:00  2018-02-06 00:00:00    32
12  1999/12/30 -0.069695  1999-12-30 00:00:00  2000-01-06 00:00:00    31
1   1984/07/04 -0.069743  1984-07-04 00:00:00  1984-07-12 00:00:00    30
27  2008/09/25 -0.072782  2008-09-25 00:00:00  2008-09-29 00:00:00    29
7   1990/08/15 -0.073371  1990-08-15 00:00:00  1990-08-23 00:00:00    28
39  2011/11/11 -0.075344  2011-11-11 00:00:00  2011-11-24 00:00:00    27
28  2008/10/03 -0.078522  2008-10-03 00:00:00  2008-10-06 00:00:00    26
31  2008/11/04 -0.079123  2008-11-04 00:00:00  2008-11-06 00:00:00    25
5   1987/10/30 -0.080981  1987-10-30 00:00:00  1987-11-04 00:00:00    24
0   1984/05/21 -0.081828  1984-05-21 00:00:00  1984-05-31 00:00:00    23
40  2014/12/05 -0.083069  2014-12-05 00:00:00  2014-12-15 00:00:00    22
42  2015/12/02 -0.085170  2015-12-02 00:00:00  2015-12-14 00:00:00    21
9   1998/08/25 -0.085827  1998-08-25 00:00:00  1998-09-01 00:00:00    20
35  2010/04/29 -0.088080  2010-04-29 00:00:00  2010-05-07 00:00:00    19
8   1997/10/21 -0.090032  1997-10-21 00:00:00  1997-10-28 00:00:00    18
10  1998/09/29 -0.090042  1998-09-29 00:00:00  1998-10-05 00:00:00    17
15  2001/09/17 -0.094960  2001-09-17 00:00:00  2001-09-21 00:00:00    16
26  2008/09/12 -0.099082  2008-09-12 00:00:00  2008-09-18 00:00:00    15
32  2008/11/18 -0.101600  2008-11-18 00:00:00  2008-11-21 00:00:00    14
23  2008/01/14 -0.102563  2008-01-14 00:00:00  2008-01-21 00:00:00    13
34  2009/02/26 -0.103061  2009-02-26 00:00:00  2009-03-03 00:00:00    12
33  2009/01/06 -0.111623  2009-01-06 00:00:00  2009-01-15 00:00:00    11
14  2001/09/04 -0.117778  2001-09-04 00:00:00  2001-09-11 00:00:00    10
18  2002/07/18 -0.121053  2002-07-18 00:00:00  2002-07-24 00:00:00     9
30  2008/10/14 -0.121255  2008-10-14 00:00:00  2008-10-16 00:00:00     8
20  2003/01/10 -0.124129  2003-01-10 00:00:00  2003-01-27 00:00:00     7
41  2015/08/10 -0.124306  2015-08-10 00:00:00  2015-08-24 00:00:00     6
4   1987/10/21 -0.133604  1987-10-21 00:00:00  1987-10-26 00:00:00     5
17  2002/07/05 -0.134565  2002-07-05 00:00:00  2002-07-15 00:00:00     4
37  2011/07/28 -0.136937  2011-07-28 00:00:00  2011-08-08 00:00:00     3
29  2008/10/07 -0.146173  2008-10-07 00:00:00  2008-10-10 00:00:00     2
3   1987/10/13 -0.233427  1987-10-13 00:00:00  1987-10-20 00:00:00     1

'Jakarta_crash.csv'

          Date  drawdown             crash_st            crash_end  rank
0   1997/08/12 -0.109235  1997-08-12 00:00:00  1997-08-19 00:00:00    26
23  2011/08/01 -0.109295  2011-08-01 00:00:00  2011-08-09 00:00:00    25
3   1997/11/17 -0.109843  1997-11-17 00:00:00  1997-11-21 00:00:00    24
25  2013/08/14 -0.111655  2013-08-14 00:00:00  2013-08-20 00:00:00    23
22  2010/05/18 -0.112931  2010-05-18 00:00:00  2010-05-25 00:00:00    22
16  2005/08/10 -0.120147  2005-08-10 00:00:00  2005-08-24 00:00:00    21
13  2001/09/19 -0.120634  2001-09-19 00:00:00  2001-10-03 00:00:00    20
24  2011/09/16 -0.121517  2011-09-16 00:00:00  2011-09-22 00:00:00    19
2   1997/10/21 -0.130051  1997-10-21 00:00:00  1997-10-28 00:00:00    18
18  2008/01/17 -0.133906  2008-01-17 00:00:00  2008-01-22 00:00:00    17
15  2004/04/27 -0.135598  2004-04-27 00:00:00  2004-05-10 00:00:00    16
17  2007/08/13 -0.136932  2007-08-13 00:00:00  2007-08-16 00:00:00    15
1   1997/08/27 -0.137630  1997-08-27 00:00:00  1997-09-02 00:00:00    14
12  2000/09/05 -0.140857  2000-09-05 00:00:00  2000-09-18 00:00:00    13
7   1998/04/28 -0.146231  1998-04-28 00:00:00  1998-05-06 00:00:00    12
19  2008/09/08 -0.156401  2008-09-08 00:00:00  2008-09-15 00:00:00    11
14  2002/10/08 -0.160619  2002-10-08 00:00:00  2002-10-14 00:00:00    10
8   1998/07/29 -0.160859  1998-07-29 00:00:00  1998-08-11 00:00:00     9
9   1998/08/19 -0.164747  1998-08-19 00:00:00  1998-08-28 00:00:00     8
11  1999/01/07 -0.164786  1999-01-07 00:00:00  1999-01-25 00:00:00     7
5   1998/01/05 -0.165178  1998-01-05 00:00:00  1998-01-09 00:00:00     6
6   1998/02/06 -0.173954  1998-02-06 00:00:00  1998-02-12 00:00:00     5
4   1997/12/09 -0.202023  1997-12-09 00:00:00  1997-12-15 00:00:00     4
10  1998/09/10 -0.215225  1998-09-10 00:00:00  1998-09-21 00:00:00     3
20  2008/09/24 -0.229291  2008-09-24 00:00:00  2008-10-08 00:00:00     2
21  2008/10/10 -0.234405  2008-10-10 00:00:00  2008-10-28 00:00:00     1

'Kuala Lumpur CI_crash.csv'

          Date  drawdown             crash_st            crash_end  rank
16  1998/07/24 -0.077510  1998-07-24 00:00:00  1998-07-29 00:00:00    31
27  2002/09/17 -0.077815  2002-09-17 00:00:00  2002-09-25 00:00:00    30
8   1997/11/24 -0.077905  1997-11-24 00:00:00  1997-11-26 00:00:00    29
11  1998/02/27 -0.079800  1998-02-27 00:00:00  1998-09-03 00:00:00    28
24  1999/09/21 -0.081374  1999-09-21 00:00:00  1999-09-28 00:00:00    27
3   1997/07/29 -0.083879  1997-07-29 00:00:00  1997-05-08 00:00:00    26
21  1999/02/23 -0.088061  1999-02-23 00:00:00  1999-03-03 00:00:00    25
23  1999/04/02 -0.088720  1999-04-02 00:00:00  1999-08-02 00:00:00    24
0   1994/11/03 -0.089071  1994-11-03 00:00:00  1994-03-21 00:00:00    23
2   1995/01/17 -0.092678  1995-01-17 00:00:00  1995-01-24 00:00:00    22
17  1998/08/20 -0.096399  1998-08-20 00:00:00  1998-08-24 00:00:00    21
30  2008/10/21 -0.096661  2008-10-21 00:00:00  2008-10-29 00:00:00    20
29  2008/06/03 -0.097308  2008-06-03 00:00:00  2008-10-03 00:00:00    19
12  1998/03/25 -0.099093  1998-03-25 00:00:00  1998-06-04 00:00:00    18
22  1999/03/08 -0.107077  1999-03-08 00:00:00  1999-09-08 00:00:00    17
20  1998/10/02 -0.108582  1998-10-02 00:00:00  1998-02-16 00:00:00    16
1   1994/11/30 -0.115839  1994-11-30 00:00:00  1994-12-12 00:00:00    15
10  1998/02/07 -0.121016  1998-02-07 00:00:00  1998-07-14 00:00:00    14
14  1998/05/21 -0.127388  1998-05-21 00:00:00  1998-01-06 00:00:00    13
26  2001/07/09 -0.127769  2001-07-09 00:00:00  2001-09-18 00:00:00    12
13  1998/04/08 -0.133889  1998-04-08 00:00:00  1998-11-08 00:00:00    11
28  2007/02/23 -0.134620  2007-02-23 00:00:00  2007-05-03 00:00:00    10
6   1997/10/16 -0.136692  1997-10-16 00:00:00  1997-10-24 00:00:00     9
19  1998/09/06 -0.138043  1998-09-06 00:00:00  1998-06-16 00:00:00     8
5   1997/10/12 -0.144651  1997-10-12 00:00:00  1997-12-16 00:00:00     7
25  2001/02/04 -0.149676  2001-02-04 00:00:00  2001-09-04 00:00:00     6
18  1998/08/26 -0.190422  1998-08-26 00:00:00  1998-01-09 00:00:00     5
9   1997/12/31 -0.196605  1997-12-31 00:00:00  1998-12-01 00:00:00     4
4   1997/08/20 -0.213486  1997-08-20 00:00:00  1997-04-09 00:00:00     3
15  1998/07/09 -0.214578  1998-07-09 00:00:00  1998-08-09 00:00:00     2
7   1997/11/11 -0.225086  1997-11-11 00:00:00  1997-11-20 00:00:00     1

In [38]:
df

          Date  drawdown             crash_st            crash_end  rank
0   1962/05/03 -0.058320  1962-05-03 00:00:00  1962-05-11 00:00:00    71
1   1962/05/15 -0.136724  1962-05-15 00:00:00  1962-05-28 00:00:00     4
2   1962/06/08 -0.070488  1962-06-08 00:00:00  1962-06-14 00:00:00    42
3   1962/06/15 -0.063875  1962-06-15 00:00:00  1962-06-26 00:00:00    57
4   1962/10/15 -0.066003  1962-10-15 00:00:00  1962-10-23 00:00:00    50
5   1966/04/21 -0.066003  1966-04-21 00:00:00  1966-05-09 00:00:00    51
6   1966/08/12 -0.060839  1966-08-12 00:00:00  1966-08-23 00:00:00    65
7   1969/07/17 -0.065581  1969-07-17 00:00:00  1969-07-29 00:00:00    52
8   1970/04/20 -0.064779  1970-04-20 00:00:00  1970-04-28 00:00:00    56
9   1970/05/18 -0.062370  1970-05-18 00:00:00  1970-05-21 00:00:00    59
10  1974/01/03 -0.074249  1974-01-03 00:00:00  1974-01-10 00:00:00    34
11  1974/07/24 -0.075303  1974-07-24 00:00:00  1974-08-02 00:00:00    32
12  1974/08/07 -0.153176  1974-08-07 00:00:00  1974-08-29 00:00:00     3
13  1974/09/06 -0.087090  1974-09-06 00:00:00  1974-09-13 00:00:00    25
14  1974/09/20 -0.112062  1974-09-20 00:00:00  1974-10-03 00:00:00    10
15  1974/11/11 -0.096474  1974-11-11 00:00:00  1974-11-20 00:00:00    18
16  1975/07/15 -0.077607  1975-07-15 00:00:00  1975-07-29 00:00:00    29
17  1978/10/11 -0.070595  1978-10-11 00:00:00  1978-10-20 00:00:00    41
18  1979/10/05 -0.072616  1979-10-05 00:00:00  1979-10-16 00:00:00    39
19  1980/03/19 -0.058384  1980-03-19 00:00:00  1980-03-27 00:00:00    70
20  1980/11/28 -0.093652  1980-11-28 00:00:00  1980-12-11 00:00:00    20
21  1982/08/02 -0.060195  1982-08-02 00:00:00  1982-08-12 00:00:00    67
22  1986/09/04 -0.091242  1986-09-04 00:00:00  1986-09-12 00:00:00    21
23  1987/04/08 -0.060889  1987-04-08 00:00:00  1987-04-14 00:00:00    63
24  1987/10/13 -0.285133  1987-10-13 00:00:00  1987-10-19 00:00:00     1
25  1987/10/21 -0.118856  1987-10-21 00:00:00  1987-10-26 00:00:00     8
26  1987/11/05 -0.060830  1987-11-05 00:00:00  1987-11-10 00:00:00    66
27  1987/11/24 -0.065303  1987-11-24 00:00:00  1987-11-30 00:00:00    53
28  1988/01/07 -0.067683  1988-01-07 00:00:00  1988-01-08 00:00:00    44
29  1989/10/09 -0.072679  1989-10-09 00:00:00  1989-10-13 00:00:00    38
30  1990/07/31 -0.060986  1990-07-31 00:00:00  1990-08-06 00:00:00    62
31  1990/08/20 -0.065295  1990-08-20 00:00:00  1990-08-23 00:00:00    54
32  1997/10/21 -0.098007  1997-10-21 00:00:00  1997-10-27 00:00:00    17
33  1998/07/30 -0.061971  1998-07-30 00:00:00  1998-08-04 00:00:00    60
34  1998/08/25 -0.124052  1998-08-25 00:00:00  1998-08-31 00:00:00     6
35  1998/09/29 -0.059703  1998-09-29 00:00:00  1998-10-01 00:00:00    68
36  1999/10/08 -0.066324  1999-10-08 00:00:00  1999-10-15 00:00:00    49
37  2000/04/07 -0.105378  2000-04-07 00:00:00  2000-04-14 00:00:00    14
38  2000/05/16 -0.062877  2000-05-16 00:00:00  2000-05-23 00:00:00    58
39  2000/10/05 -0.074150  2000-10-05 00:00:00  2000-10-12 00:00:00    35
40  2001/02/15 -0.060869  2001-02-15 00:00:00  2001-02-23 00:00:00    64
41  2001/03/08 -0.066875  2001-03-08 00:00:00  2001-03-12 00:00:00    47
42  2001/09/10 -0.116005  2001-09-10 00:00:00  2001-09-21 00:00:00     9
43  2002/07/05 -0.069321  2002-07-05 00:00:00  2002-07-10 00:00:00    43
44  2002/07/17 -0.119575  2002-07-17 00:00:00  2002-07-23 00:00:00     7
45  2002/07/31 -0.084487  2002-07-31 00:00:00  2002-08-05 00:00:00    27
46  2002/08/26 -0.073770  2002-08-26 00:00:00  2002-09-03 00:00:00    37
47  2002/10/01 -0.073864  2002-10-01 00:00:00  2002-10-07 00:00:00    36
48  2008/01/14 -0.074669  2008-01-14 00:00:00  2008-01-22 00:00:00    33
49  2008/09/26 -0.088068  2008-09-26 00:00:00  2008-09-29 00:00:00    24
50  2008/09/30 -0.229037  2008-09-30 00:00:00  2008-10-10 00:00:00     2
51  2008/10/13 -0.095191  2008-10-13 00:00:00  2008-10-15 00:00:00    19
52  2008/10/20 -0.089933  2008-10-20 00:00:00  2008-10-22 00:00:00    22
53  2008/10/23 -0.065179  2008-10-23 00:00:00  2008-10-27 00:00:00    55
54  2008/11/04 -0.100293  2008-11-04 00:00:00  2008-11-06 00:00:00    15
55  2008/11/07 -0.084523  2008-11-07 00:00:00  2008-11-12 00:00:00    26
56  2008/11/13 -0.066433  2008-11-13 00:00:00  2008-11-17 00:00:00    48
57  2008/11/18 -0.124174  2008-11-18 00:00:00  2008-11-20 00:00:00     5
58  2008/11/28 -0.089295  2008-11-28 00:00:00  2008-12-01 00:00:00    23
59  2009/02/12 -0.109987  2009-02-12 00:00:00  2009-02-23 00:00:00    13
60  2009/02/24 -0.099348  2009-02-24 00:00:00  2009-03-03 00:00:00    16
61  2010/05/03 -0.076007  2010-05-03 00:00:00  2010-05-07 00:00:00    31
62  2011/07/22 -0.067635  2011-07-22 00:00:00  2011-08-02 00:00:00    45
63  2011/08/03 -0.111779  2011-08-03 00:00:00  2011-08-08 00:00:00    11
64  2011/08/17 -0.058933  2011-08-17 00:00:00  2011-08-19 00:00:00    69
65  2011/09/16 -0.071093  2011-09-16 00:00:00  2011-09-22 00:00:00    40
66  2011/11/15 -0.078820  2011-11-15 00:00:00  2011-11-25 00:00:00    28
67  2015/08/17 -0.111694  2015-08-17 00:00:00  2015-08-25 00:00:00    12
68  2018/01/31 -0.061927  2018-01-31 00:00:00  2018-02-05 00:00:00    61
69  2018/10/03 -0.067387  2018-10-03 00:00:00  2018-10-11 00:00:00    46
70  2018/12/18 -0.076609  2018-12-18 00:00:00  2018-12-24 00:00:00    30